@model IEnumerable<Water.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string resim = "";


}

<style>
    table{
        display:inline-block;
    }
    table td{
        border:solid;
      

    }
  table a{
        text-decoration:none;
        color:black;
        font-family:sans-serif;
        font-size:15px;

    }
</style>


<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Volume)
           
                @Html.DisplayNameFor(model => model.Price)
            
                @Html.DisplayNameFor(model => model.Brand)
            </th>
           
           
            <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
         resim = "/Images/" + item.ProductId.ToString() + ".jpg";

        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>*@
           
            <td>

                <a asp-action="Details" asp-route-id="@item.ProductId"> <img src="@resim" style="height:100px"/> <br> @Html.DisplayFor(modelItem => item.Brand.BrandName)  <br> @Html.DisplayFor(modelItem => item.Volume ) litre <br>@Html.DisplayFor(modelItem => item.Price) TL 
                    
                    </a> 
            </td>
        </tr>
}
    </tbody>
</table>
